<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GAMES4YOU</title>
</head>
<body>
    <script src="/javascript/pagination.js" th:src="@{javascript/pagination.js}"></script>
    <script>
        var offset = 0;
        window.onload = function() {loadHome()};
    </script>

    <h1>WELCOME</h1>

    <form action="#" th:action="@{/search}" method="get">
        <select name="type">
            <option value="users">Users</option>
            <option value="games">Games</option>
        </select>
        <input type="text" name="query">
        <input type="submit" value="Search">
    </form>

    <table id="tableContent">
        <tbody></tbody>
    </table>
    <button onclick="loadHome()">Load more</button>

</body>
</html>