<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
    <script th:inline="javascript">
        window.onload = function() {loadData('/home/user/reviews')};
    </script>
    <script src="/javascript/pagination.js" th:src="@{javascript/pagination.js}"></script>

    <h1>WELCOME</h1>

    <form action="#" th:action="@{/search}" method="get">
        <select name="type">
            <option value="Users">Users</option>
            <option value="Games">Games</option>
        </select>
        <input type="text" name="query">
        <input type="submit" value="Search">
    </form>

    <table id="tableContent">
        <tbody></tbody>
    </table>

    <button onclick="loadData('/home/user/reviews')">Load more</button>

</body>
</html>