<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GAMES4YOU - Signup</title>
    <link rel="stylesheet" type="text/css" href="/css/website_style.css">
</head>
<body>
    <script src="/javascript/topbar.js" type="module"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        logged_id = /*[[${uid}]]*/ false;
        /*]]>*/
    </script>

    <div class="horizontal-div">
        <a href="/home" class="left-div">
            <img src="/images/icon.png" alt="site icon" style="width:100px; height:100px; cursor: pointer;"></a>

        <div class="vertical-div middle-div">
            <h1>WELCOME</h1>
            <form action="#" th:action="@{/search}" method="get">
                <select name="type" style="width: 140px">
                    <option value="users">Users</option>
                    <option value="games-name">Games: by name</option>
                    <option value="games-tags">Games: by tags</option>
                </select>
                <input type="text" name="query" required>
                <input type="submit" value="Search">
            </form>
        </div>

        <div class="tight-container right-div">
            <img id="userPage" src="/images/user-icon.svg" alt="" class="topbarImgs">
            <img id="notif" src="/images/notification-icon.png" alt="" class="topbarImgs">
            <div id="notifPanel">
                <table>
                    <tbody></tbody>
                </table>
            </div>
            <button id="logout">Logout</button>
        </div>

    </div>

    <div class="horizontal-div">
        <div id="queryBtns" class="centeredBtns">
        </div>
    </div>

    <form action="#" th:action="@{/newGame/}" method="post">
        <input type="text" name="name" placeholder="Game name" required>
        <input type="text" name="tags" placeholder="Game genres/tags (Action, RPG, ...)" required>
        <input type="date" pattern="\d{2}/\d{2}/\d{4}" name="release_date" placeholder="Release date" required>
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="header_image" placeholder="URL to header_image">
        <input type="submit" value="Create game">
    </form>
</body>
</html>