<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GAMES4YOU - Signup</title>
</head>
<body>
    <script src="/javascript/topbar.js" type="module"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        logged_id = /*[[${uid}]]*/ false;
        /*]]>*/
    </script>

    <div>
        <a href="/home">
            <img src="/images/icon.png" alt="site icon" style="width:100px; height:100px; cursor: pointer;"></a>

        <img id="notif" src="/images/notification-icon.png" style="width:25px; cursor: pointer;">

        <div id="notifPanel" style="display: none; background-color: white; border:1px solid black; padding:10px; max-width:500px;">
            <table>
                <tbody></tbody>
            </table>
        </div>

        <div id="queryBtns">
        </div>

        <form action="#" th:action="@{/search}" method="get">
            <select name="type">
                <option value="users">Users</option>
                <option value="games-name">Games: by name</option>
                <option value="games-tags">Games: by tags</option>
            </select>
            <input type="text" name="query" required>
            <input type="submit" value="Search">
        </form>

        <button id="logout">Logout</button>
    </div>

    <form action="#" th:action="@{/newGame/}" method="post">
        <input type="text" name="name" placeholder="Game name" required>
        <input type="text" name="tags" placeholder="Game genres/tags (Action, RPG, ...)" required>
        <input type="date" pattern="\d{2}/\d{2}/\d{4}" name="release_date" placeholder="Release date" required>
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="header_image" placeholder="URL to header_image">
        <input type="submit" value="Create game">
    </form>
</body>
</html>