<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GAMES4YOU - Signup</title>
</head>
<body>
    <script src="/javascript/logout.js" type="module"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        gid = /*[[${gid}]]*/ null;
        document.getElementById("gid").innerText = gid;
        /*]]>*/
    </script>
    <form action="#" th:action="@{/newReview/{id}(id=${gid})}" method="post">
        <input type="hidden" th:value="${gid}" id="gid" name="gid">
        <input type="checkbox" name="rating" placeholder="Rating" required>
        <input type="text" name="content" placeholder="What do you think about this game?" required>
        <input type="submit" value="Create review">
    </form>
</body>
</html>