<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GAMES4YOU - Search</title>
    <link rel="stylesheet" type="text/css" href="/css/website_style.css">
</head>
<body>
    <script src="/javascript/topbar.js" type="module"></script>
    <script src="/javascript/recom.js" type="module"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        logged_id = /*[[${uid}]]*/ false;
        jsonData = /*[[${jsonData}]]*/ null;
        /*]]>*/
    </script>

    <div class="horizontal-div">
        <a href="/home">
            <img src="/images/icon.png" alt="site icon" style="width:100px; height:100px; cursor: pointer;"></a>

        <div class="vertical-div">
            <h1>RECOMMENDED</h1>
            <form action="#" th:action="@{/search}" method="get">
                <select name="type">
                    <option value="users">Users</option>
                    <option value="games-name">Games: by name</option>
                    <option value="games-tags">Games: by tags</option>
                </select>
                <input type="text" name="query" required>
                <input type="submit" value="Search">
            </form>
        </div>

        <div class="tight-container">
            <img id="notif" src="/images/notification-icon.png" style="width:25px; cursor: pointer;">
            <div id="notifPanel" style="display: none; background-color: white; border:1px solid black; padding:10px; max-width:500px;">
                <table>
                    <tbody></tbody>
                </table>
            </div>
            <button id="logout">Logout</button>
        </div>

    </div>

    <div class="horizontal-div">
        <div id="queryBtns">
        </div>
    </div>

    <table id="tableContent">
        <tbody></tbody>
    </table>

</body>
</html>