<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GAMES4YOU - Search</title>
</head>
<body>
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/loadSearchPages.js" type="module"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let search_type = /*[[${type}]]*/ 'Users';
        let search_query = /*[[${query}]]*/ '';
        /*]]>*/
    </script>

    <table id="tableContent">
        <tbody></tbody>
    </table>
    <button id="loadmore">Load more</button>

</body>
</html>