<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GAMES4YOU - Search</title>
</head>
<body>
    <script src="/javascript/pagination.js" th:src="@{javascript/pagination.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var offset = 0;
        var search_type = /*[[${type}]]*/ 'Users';
        var search_query = /*[[${query}]]*/ '';
        window.onload = function() {loadSearch()};
        /*]]>*/
    </script>

    <table id="tableContent">
        <tbody></tbody>
    </table>
    <button onclick="loadSearch()">Load more</button>

</body>
</html>